# Chapter 5

Sequences: Strings, Lists, and Files

- Basics/Fun with Strings (operations and methods), Lists and Files.
- Intro to Cryptography (super basic).
- String Formatting

In [2]:
str1 = "hello";
str2 = 'spam';
print(str1, str2);
print(type(str1));
print(type(str2));

hello spam
<class 'str'>
<class 'str'>

In [3]:
firstName = input("Please enter your name: ");
print("Hello", firstName);

Please enter your name: Patrik
Hello Patrik

In [7]:
greet = "Hello Bob";
print(greet);
greet[0];
print(greet[0], greet[2], greet[4]);
x = 8;
print(greet[x-2]);
print(greet[-1]);
print(greet[-3]);

Hello Bob
H l o
B
b
B

In [8]:
greet = "Hello Bob";
print(greet[0:3]);
print(greet[5:9]);
print(greet[:5]);
print(greet[:]);

Hel
 Bob
Hello
Hello Bob

In [11]:
#online example of a table
import pandas as pd
data = [[1,2],[3,4]]
pd.DataFrame(data, columns=["Foo","Bar"])

   Foo  Bar
0    1    2
1    3    4

In [12]:
print("spam" + "eggs");
print("Spam"+"And"+"Eggs");
print(3 * "spam");
print((3 * "spam") + ("eggs" * 5));
print(len("spam"));
print(len("SpamAndEggs"));

for ch in "Spam!":
    print(ch, end=" ");

spameggs
SpamAndEggs
spamspamspam
spamspamspameggseggseggseggseggs
4
11
S p a m !

In [15]:
#Basic operations for strings:

import pandas as pd
data = [["+","concatination"],["*","repitition"],["<string>[]","indexing"],["<string>[:]","slicing"],["for <var> in <string>","iteration through characters"]]
pd.DataFrame(data, columns=["Operation","Meaning"])

               Operation                       Meaning
0                      +                 concatination
1                      *                    repitition
2             <string>[]                      indexing
3            <string>[:]                       slicing
4  for <var> in <string>  iteration through characters

In [16]:
def main():
    print("This program generates computer usernames.\n")
    
    #get users first and last names
    first = input("Please enter your first name (all lowercase): ")
    last = input("Please enter your last name (all lowercase): ")
    
    #concatinate first initial with 7 chars of the last name.
    uname = first[0] + last[:7]
    
    #output the username
    print("Your username is:", uname)

main();

This program generates computer usernames.

Please enter your first name (all lowercase): Patrik
Please enter your last name (all lowercase): Sokolowski
Your username is: PSokolow

In [17]:

def main():
    #months is sued as a lookup table
    months = "JanFebMarAprMayJunJulAugSepOctNovDec"
    
    n = int(input("Enter your month's number (1-12): "))
    
    # compute starting position of month n in months
    pos = (n-1) * 3
    
    #grab the appropriate slice from months
    monthAbbrev = months[pos:pos+3]
    
    #print the result
    print("The month abbreviation is", monthAbbrev + ".")

main()

Enter your month's number (1-12): 8
The month abbreviation is Aug.

In [2]:
print([1,2] + [3,4]);
print([1,2]*3);
grades = ['A','B','C','D','F'];
print(grades[0]);
print(grades[2:4]);
print(len(grades));

[1, 2, 3, 4]
[1, 2, 1, 2, 1, 2]
A
['C', 'D']
5

In [3]:
myList = [1, 'Spam', 4, 'E'];
print(myList);

[1, 'Spam', 4, 'E']

In [6]:
#Program to print the month abbreviation, given it's number

def main():
    
    #months is a list used as a lookup table
    months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    
    n = int(input("Enter the month you want as a number (1-12): "));
    
    print("the month abbreviation is", months[n-1] +'.');

main();

Enter the month you want as a number (1-12): 8
the month abbreviation is Aug.

In [5]:
print(ord('A'));
print(ord('a'));
print(chr(65));
print(chr(97));

65
97
A
a

In [6]:
def main():
    print("This program converts a textual message into a sequence");
    print("of numbers representing the Unicode encoding of the message");
    
    #get message to encode
    message = input("Please enter the message to encode: ");
    
    print("\nHere are the Unicode codes:");
    
    #Loop through the message and print out the Unicode values
    for ch in message:
        print(ord(ch), end=" ")
        
    print() #blank line before prompt

main();

This program converts a textual message into a sequence
of numbers representing the Unicode encoding of the message
Please enter the message to encode: Hey there

Here are the Unicode codes:
72 101 121 32 116 104 101 114 101

In [2]:
myString = 'Hello, string methods!'
myString.split()

['Hello,', 'string', 'methods!']

In [3]:
"32,24,25,57".split(",")

['32', '24', '25', '57']

In [2]:
coords = input("Enter the point coordinates (x,y): ").split(",")
x,y = float(coords[0]), float(coords[1])
print(coords)
print(coords[0])
print(coords[1])
print(x)
print(y)

Enter the point coordinates (x,y): 3.4,6.25
['3.4', '6.25']
3.4
6.25
3.4
6.25

In [4]:
def main():
    print("This program converts a sequence of Unicode numbers into")
    print("the string text that it represents. \n")
    
    # Get the message to encode
    inString = input("Please enter the Unicode-encoded message: ")
    
    # Loop through each substring and build Unicode message
    message = ""
    for numStr in inString.split():
        codeNum = int(numStr)            #convert digits to a number 
        message = message + chr(codeNum) #concatenate character to message
        
    print("\nThe decoded message is:", message)
    
main()

This program converts a sequence of Unicode numbers into
the string text that it represents.

Please enter the Unicode-encoded message: 83 116 114 105 110 103 115 32 97 114 101 32 70 117 110 33

The decoded message is: Strings are Fun!

In [12]:
s = 'Hello, I am here'
print(s.capitalize())
print(s.title())
print(s.lower())
print(s.upper())
print(s.replace("I","you"))
print(s.center(30))
print(s.count('e'))
print(s.find(','))
print(' '.join(["Number", "one", "the", "Larch"]))
print('why '.join(["Number", "one", "the", "Larch"]))

Hello, i am here
Hello, I Am Here
hello, i am here
HELLO, I AM HERE
Hello, you am here
       Hello, I am here
3
5
Number one the Larch
Numberwhy onewhy thewhy Larch

In [15]:
#Basic methods for strings:

import pandas as pd
data = [["s.capitalize()","Copy of s, first character capitalized"],["s.center(width)","Copy of s, centered by width"],["s.count(sub)","count occurences of sub in s"],["s.find(sub)","finds first position of sub in s"],["s.join(list)","Concatinates list as string, s as seperator"],["s.ljust(width)","Like center but left justified"],["s.lower()","copy of s but all lowercase"],["s.lstrip","copy of s without leading space"],["s.replace(oldsub, newsub)","replaces occurences of oldsub with newsub"],["s.rfind(sub)","like find but returns rightmost position"],["s.rjust(width)","like center but right-justified"],["s.rstrip()","copy of s but end space removed"],["s.split()","splits s into list of substrings"],["s.title()","copy of s but first character of each word capitalized"],["s.upper()","copy of s with all characters converted uppercase"]]
pd.DataFrame(data, columns=["Method","Meaning"])

,Method,Meaning
0,s.capitalize(),"Copy of s, first character capitalized"
1,s.center(width),"Copy of s, centered by width"
2,s.count(sub),count occurences of sub in s
3,s.find(sub),finds first position of sub in s
4,s.join(list),"Concatinates list as string, s as seperator"
5,s.ljust(width),Like center but left justified
6,s.lower(),copy of s but all lowercase
7,s.lstrip,copy of s without leading space
8,"s.replace(oldsub, newsub)",replaces occurences of oldsub with newsub
9,s.rfind(sub),like find but returns rightmost position
10,s.rjust(width),like center but right-justified
11,s.rstrip(),copy of s but end space removed
12,s.split(),splits s into list of substrings
13,s.title(),copy of s but first character of each word cap...
14,s.upper(),copy of s with all characters converted uppercase

In [18]:
#mini program to make a list of squared numbers going up to 100 (from 1)
squares = []
for x in range(1,101):
    squares.append(x*x)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [19]:
#same version of decoder from before, just now we use a list to concatinate characters instead of many strings

def main():
    print("This program converts a sequence of Unicode numbers into")
    print("the string text that it represents (efficient version using list accumulator). \n")
    
    # Get the message to encode
    inString = input("Please enter the Unicode-encoded message: ")
    
    # Loop through each substring and build Unicode message
    chars = []
    for numStr in inString.split():
        codeNum = int(numStr)            #convert digits to a number 
        chars.append(chr(codeNum))       #accumulates new character into list
    
    message = "".join(chars)
    print("\nThe decoded message is:", message)
    
main() 

#both string concatination and append/join techniques are efficient

This program converts a sequence of Unicode numbers into
the string text that it represents (efficient version using list accumulator).

Please enter the Unicode-encoded message: 83 116 114 105 110 103 115 32 97 114 101 32 70 117 110 33

The decoded message is: Strings are Fun!

- encryption: 'process of encoding information for the purpose of keeping it a secret or transmitting it privatly
- cryptography: sub-field of mathematics and comp-sci, study of encryption methods
- substitution ciphor: weak form of encryption given a plaintext and replacing each character by a ciphor aplhabet 
  - plaintext: original message
  - cipher alphabet: characters to use as replacements for old characters
  - ciphertext: new message
- private key (shared key) system: same key is used for encrypting and decrypting messages.
- public key system: having seperate/related keys for encryption/decryption.

In [21]:
#Date conversion program

def main():
    #get the date
    dateStr = input("Enter a date (mm/dd/yyyy): ")
    
    #split into components
    monthStr, dayStr, yearStr = dateStr.split("/")
    
    #convert monthStr to the month name
    months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
    
    monthStr = months[int(monthStr)-1]
    
    #Output result in month day, year format
    print("The converted date is:", monthStr, dayStr+',', yearStr)

main()

Enter a date (mm/dd/yyyy): 08/21/1999
The converted date is: August 21, 1999

In [23]:
#Basic functions for casting:

import pandas as pd
data = [["float(<expr>)","convert expr to float"],["int(<expr>)","convert expr to integer"],["str(<expr>)","convert expr to string"],["eval(<string>)","evaluate string as an expression"]]
pd.DataFrame(data, columns=["Function","Meaning"])

         Function                           Meaning
0   float(<expr>)             convert expr to float
1     int(<expr>)           convert expr to integer
2     str(<expr>)            convert expr to string
3  eval(<string>)  evaluate string as an expression

#String formatting form
<template-string>.format(<values>)
{<index>:<format-specifier>}
0.2f    <width>.<precision><type>

In [2]:
"Hello {0} {1}, you my have won ${2}".format("Mr.","Smith", 10000)

'Hello Mr. Smith, you my have won $10000'

In [4]:
"This int, {0:5}, was placed in a field of width 5".format(7)

'This int,     7, was placed in a field of width 5'

In [5]:
"This int, {0:10}, was placed in a field of width 10".format(7)

'This int,          7, was placed in a field of width 10'

In [6]:
"This float, {0:10.5}, has width 10 and precision 5".format(3.1415926)

'This float,     3.1416, has width 10 and precision 5'

In [7]:
"This float, {0:10.5f}, is fixed at 5 decimal places".format(3.1415926)

'This float,    3.14159, is fixed at 5 decimal places'

In [8]:
"This float, {0:0.5}, has width 0 and precision 5".format(3.1415926)

'This float, 3.1416, has width 0 and precision 5'

In [9]:
"Compare {0} and {0:0.20}".format(3.14)

'Compare 3.14 and 3.1400000000000001243'

In [10]:
"left justification: {0:<5}".format("Hi!")

'left justification: Hi!  '

In [11]:
"right justification: {0:>5}".format("Hi!")

'right justification:   Hi!'

In [12]:
"centered: {0:^5}".format("Hi!")

'centered:  Hi! '

In [14]:
#Better version of the change calculator
#Program to calculate the value of some change in dollars
#This version represents the total of cash in cents

def main():
    print("Change Counter\n")
    print("Please enter the count of each coin type.")
    quarters = int(input("Quarters: "))
    dimes = int(input("Dimes: "))
    nickels = int(input("Nickles: "))
    pennies = int(input("Pennies: "))
    
    total = quarters * 25 + dimes * 10 + nickels * 5 + pennies
    
    print("The total value of your change is ${0}.{1:0>2}".format(total//100, total%100))

main()

Change Counter

Please enter the count of each coin type.
Quarters: 4
Dimes: 3
Nickles: 1
Pennies: 2
The total value of your change is $1.37

In [17]:
import pandas as pd
data = [["<file>.read()","Returns entire file content as single string"],["<file>.readline()","returns next line of file (all text up to and including next line)"],["<file>.readlines()","returns list of remaining lines in file (each item being a line)"]]
pd.DataFrame(data, columns=["File Operation","Meaning"])

       File Operation                                            Meaning
0       <file>.read()       Returns entire file content as single string
1   <file>.readline()  returns next line of file (all text up to and ...
2  <file>.readlines()  returns list of remaining lines in file (each ...

In [18]:
#example program that prints content of file into screen
#I made a txt file named EXAMPLE.txt and put it with my jupyter python note files.

def main():
    fname = input("Enter filename: ")
    infile = open(fname, "r")
    data = infile.read()
    print(data)
    
main()

Enter filename: EXAMPLE.txt
Hey guys, good notes?
I hope so.
Patrik Sokolowski

# Chapter 5 Summary

- Strings are sequences of characters. String literals can be delimited with either single or double quotes
- Strings and lists can be manipulated by operations for concatination (+), repitition (*), indexing([]), slicing([:]), and length(len())
- Lists are more general than strings
    - Strings are always sequences of characters, lists can contain anything however
    - Lists are mutable, Strings are immutable, lists can be modified by assingning new values
- Strings are represented by numeric codes. ASCII and Unicode are compatible standards used for specifying and correspondance. 
- Process to keep data private is encryption. 2 types of encryption types (public key and private key)
- Program input/output often involves string processing. String formatting is useful for nicely formatted output.
- Text files are multi-line strings stored in secondary memory.